
body{
    overflow-x: hidden;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.quadrado-atras{
    position: absolute;
    z-index: -2;
    border: 1px solid  orange;
    width: 88%;
    height: 65vw;
    left: 5vw;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vw;
    background-color: orange;
}
header picture a img{
    width: 6vw;
    height:2vw;   
    margin-left: 2vw;
}
#cadastro-usuario-empresa{
    display: none;
}

#muda-usuario{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw
}
.titulo-principal-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--larguraTotal);
    height: 8vw;                  
}
#muda-usuario a{
    font-size: .9rem;
    padding:1.2vw 2.2vw;
    border:1px solid orange;
    border-radius: 5px;
    background-color:orange;
    color: white;
    margin:0 15px 0 15px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 100%;
    height: 35vw
}
form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0vw;
}
#btn-normal{
    margin-top: 6vw;
}

form fieldset{
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 29vw;
    height: 48vw;
    position: absolute;
    margin-top:6vw;

}
form fieldset:not(:first-of-type){
    display: none;
}


input[type="text"],input[type="password"],input[type="email"]{
    margin: 2.5vw  8vw;
    height: 2vw;
    width: 30vw;
    text-align: center;
    font-size: 1.2rem;
    border:0;
    border-bottom: .2px solid orangered;
    background:none;
    outline: none;
}




input[type="submit"],input[type="button"]{
    width: 12vw;
    height: 3vw;
    font-size: .8rem;
    border: none;
    text-transform: uppercase;
    background-color: #F67310;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
  
}

.proximo,.cadastrar{
    position: absolute;
  bottom: 3vw;
    right: 2vw;
        
   
}
.numero-um{
    position: absolute;
    bottom: 18vw;
    left: 8vw;
}
.anterior{
    position: absolute;
    bottom: 3vw;
    left: 1vw
}
.anterior-segunda-etapa{
margin-left: 8vw;
}
.proximo-segunda-etapa{
    margin-right: 8vw;
    }
.ant-um{
  left: 19vw;
}
.cad-um{
    right: 18vw;
}

fieldset:nth-child(3) input[type="text"]{
    height: 2vw;
    margin :12px auto;
}
fieldset:nth-child(3) label {
    display: flex;
    align-items: center; 
    justify-content: center;   
    width: 16vw;
    height: 3vw;
    margin-left: 7vw;
    background-color: #2F2D2E;
    color: #ffffff;
    border-radius: 15px;
}
fieldset:nth-child(3) label:nth-child(1){
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background: none;
    margin-bottom: 3vw;
}
fieldset:nth-child(3) label:nth-child(1) img{
    width: 100%;
    height: 100%;
}

fieldset:last-child{
  display: flex;
  width: 60vw;
}
fieldset:last-child input[type="checkbox"],input[type='file']{
  display: none;
}
fieldset:last-child label{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1vw;
  width: 14vw;
  height: 11vw;
 }
input:checked + label {
    background-color: #F67310;
}
.muda-tudo{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    height: 33vw;
    margin-bottom: 0vw;
}
/* mensagens de erro */

#msg-um,#msg-login-existente{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65vw;
    height: 3vw;
    background-color: #ffffff; 
    text-transform: uppercase;
    color: rgb(255, 14, 14);
    margin: 2vw auto
}

#msg-login-existente{
 margin-top: 3vw;
}

#titulo-categorias{
    text-align: center;
}
input[type="submit"],input[type="button"]:hover {
    background-color: #F67310
}
img{
    width: 5vw;
    height: 6vw;
}

#fechar img{
    width: 2vw;
    height: 2vw;
}


