div#container{min-width: 320px}
section:nth-child(1){width: 100%;height: 100vh}
#desktop,#segundo-menu-principal{display: none}
main section{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-around;width: 100%;height: 100vh;background-color: white;margin-bottom:20vw}

#pagina-principal  img{width: 100%;height: 100vh;}
#pagina-principal nav {position: absolute;display: flex;flex-direction: column;justify-content: center;width: 100%;height: 99%}
#pagina-principal nav a {display: flex;justify-content: center;align-items: center;margin: 33vw 0 -30vw 10vw;width: 46vw;height: 15vw;border-radius: 5vw;background-color:#F67310;color: white;font-family: 'raleway-normal'}
#quero-conhecer{top:  15vw}
#pagina-principal nav a:nth-child(2){background-color: #2F2D2E;border: 1px solid #F67310}
#navegacao-quero-conhecer{margin-top: 21vw}
.slides{width: 100%;display: none}
/* menu mobile */
#menu-principal{display: flex;justify-content: space-around;align-items: center;position: fixed;bottom:0;width: 100%;height: 15vw;background-color:#F67310;font-size: 1.0rem;z-index: 2}
#logo{padding:4vw 5vw 0 5vw;border-radius:50%;background-color:#F67310;margin-bottom: 6vw}
.icones img{ width: 10vw;height: 10vw}
#logo img{width: 38vw;height: 13.5vw}
/* cidades */
.cidades{display: flex;justify-content: center;align-items: center; width: 25vw;height:25vw;font-family: dois;text-align: center;font-size: 80%;border-radius: 50%;background-image:linear-gradient(to right, #2F2D2E,rgb(24, 22, 23));margin: 8px 25px;color: white}
.escolha-cidade{display: flex;flex-direction: column;text-align: center;font-size: 5vw;border-radius: 0;color: black;background:none}
hr{width:80px;border:1px solid #F67310}
